.container-flex {
    border: solid 2px green;
    margin: auto;
    width: 70%;
    box-sizing: border-box;
   /* padding: 10px; */
    min-height: 50px;
   /*  overflow: auto; */
    margin-bottom: 5px;
    display: flex;
    /*  flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row wrap;
    justify-content: space-evenly;
    /* align-items: stretch; */
    align-content: center;
    justify-content: space-between;
}

.container{
    border: solid 2px green;
    margin: auto;
    width: 70%;
    box-sizing: border-box;
    padding: 10px;
    min-height: 50px;
    overflow: auto;
    margin-bottom: 5px;
}

.container-flex div {
    height: 100px; 
    width: 150px;
    background-color: aqua;
    /* margin: 5px; */
    border: solid 1px blue;
    box-sizing: border-box;
    padding: 20px;
    font-size: 2em;
}


.container div {
    height: 100px;
    width: 200px;
    background-color: aqua;
    margin: 5px;
    /*
    display: grid;
    place-items: center;
    */
    float: right;
    overflow: hidden;
}

.font-1 {
    font-size: 1.5em;
}

.span1 {
    color: blue;
    font-weight: bold;
    text-decoration: overline;
    display: none;
}